.board {
  display: grid;
  grid-template-columns: min-content;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.tile {
  margin: -3px 0;
}

.tile button {
  background: none;
  border: none;
  padding: 0;
}